* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 50px;
}

label {
  display: block;
}

.agent-slider {
  display: flex;
  overflow-x: auto;
}

.ability-img {
  background-color: #425e62;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

body {
  color: white;
  background-color: #1c2939;
  font-family: "Nunito", sans-serif;
}

.agent-img-wrapper {
  margin: 0 auto;
  height: 800px;
  border: 1px solid red;
  z-index: -1;
}

.agent-img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  right: 50%;
}

.agent-name {
  font-size: 96px;
  text-transform: uppercase;
}

.nunito-500 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.agent-info {
  padding-left: 60px;
}

.agent-description {
  margin-top: 14px;
  text-align: justify;
}

.agent-display {
  border: 1px solid lightblue;
  flex: 0 0 150px;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.slide-btn {
  background: #fff;
}
.slide-btn:hover {
  background: gray;
}

.slide-out {
  animation-name: slide-out;
  animation-duration: 5s;
}

.dropdown-content,
.slide-btn {
  display: inline-block;
}

.slide-b {
  background-color: rgb(82, 86, 129);
  z-index: -1;
  position: relative;
}

.hidden {
  display: none;
}

.grow {
  transition: 0.5s transform ease-in;
  transform: scale(1.2);
}

.exit-left {
  transition: 1s transform ease-in-out;
  transform: scale(1.2) translateX(-100vw);
}

.enter-right {
  transition: 1s transform ease-in-out;
  transform: scale(1) translateX(0vw) translateY(-75vh);
}

.agent-slider {
  width: 100%;
  border: 1px solid white;
}
.agent-slider .agent-display .row {
  background: rgb(77, 77, 77);
}
.agent-slider .slide-b {
  border: 1px solid yellow;
}

.sloder-cont {
  border: 1px solid orange;
  position: relative;
  height: 500px;
  margin-bottom: 100px;
}
.sloder-cont * {
  border: 1px solid rgb(104, 203, 104);
  padding: 5px;
}

.sloder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 300px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.sloder .wrap {
  overflow: hidden;
  position: relative;
  width: 80vw;
  height: 300px;
  z-index: 1;
}
.sloder .wrap .slodes {
  display: flex;
  position: relative;
  top: 0;
  left: -80vw;
  width: 300%;
}
.sloder .wrap .slodes .slode {
  width: 80vw;
  height: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: #ffcf47;
  border-radius: 2px;
}

/*Slider Template Settings*/
body.page-2 {
  background-color: #d0d8f9;
}

.container.temp .row.slider-wrap {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 300px;
  overflow: hidden;
  border: 1px solid #000;
}
.container.temp .row.slider-wrap .slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4000px;
  display: flex;
  will-change: transform;
  background-color: #5667ff;
}
.container.temp .row.slider-wrap .slider .slider-item {
  position: relative;
  flex: 1;
  overflow: hidden;
  min-width: 100%;
  background-color: #c8e853;
}
.container.temp .row.slider-wrap .slider .slider-item .val-api {
  background: #000;
  position: relative;
  left: 1%;
  top: 2.5%;
  width: 98%;
  height: 95%;
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=style.css.map */